section.clients
    .container
        h3.title Our Clients...
        p.col-10 Congue leo eget malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
        .owl-carousel.owl-theme
            .item
                img.img-responsive(src="assets/img/logo.png")
            .item
                img.img-responsive(src="assets/img/logo.png")
            .item
                img.img-responsive(src="assets/img/logo.png")
            .item
                img.img-responsive(src="assets/img/logo.png")
            .item
                img.img-responsive(src="assets/img/logo.png")
            .item
                img.img-responsive(src="assets/img/logo.png")
            .item
                img.img-responsive(src="assets/img/logo.png")
            .item
                img.img-responsive(src="assets/img/logo.png")
            .item
                img.img-responsive(src="assets/img/logo.png")
            .item
                img.img-responsive(src="assets/img/logo.png")
            .item
                img.img-responsive(src="assets/img/logo.png")
            .item
                img.img-responsive(src="assets/img/logo.png")