| {% include nav.html %}
section.jumbotron.hero.jumbotron-fluid
    .container
        .col-8
            h1.lead 
                | Wake the design
            p
                | Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Donec sollicitudin molestie malesuada. Nulla porttitor accumsan tincidunt.
            a.btn.btn-cta
                | Who are we?
    