section.portfolio
    .container
        h3.title Work so far...
        p.col-10 Congue leo eget malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
        ul.nav.justify-content-center.portfolio-filter
            li.nav-item
                button.nav-link.active(type='button', data-filter='*') All
            li.nav-item
                button.nav-link(type='button', data-filter='.design') Design
            li.nav-item
                button.nav-link(type='button', data-filter='.code') Code
            li.nav-item
                button.nav-link(type='button', data-filter='.photography') Photography
            li.nav-item
                button.nav-link(type='button', data-filter='.apps') Apps
    .portfolio-grid
        .grid-sizer
        .grid-item.double-height
            img(src="https://picsum.photos/540")
            .overlay
                .contents
                    h5 Item Title
                    p Congue leo eget malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
                    a.btn.btn-portfolio View More
        .grid-item.double-width
            img(src="https://picsum.photos/500")
            .overlay
                .contents
                    h5 Item Title
                    p Congue leo eget malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
                    a.btn.btn-portfolio View More
        .grid-item
            img(src="https://picsum.photos/900")
            .overlay
                .contents
                    h5 Item Title
                    p Congue leo eget malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
                    a.btn.btn-portfolio View More
        .grid-item
            img(src="https://picsum.photos/1200")
            .overlay
                .contents
                    h5 Item Title
                    p Congue leo eget malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
                    a.btn.btn-portfolio View More
        .grid-item
            img(src="https://picsum.photos/800")
            .overlay
                .contents
                    h5 Item Title
                    p Congue leo eget malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
                    a.btn.btn-portfolio View More
        .grid-item
            img(src="https://picsum.photos/600")
            .overlay
                .contents
                    h5 Item Title
                    p Congue leo eget malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
                    a.btn.btn-portfolio View More