// Scripts
// CSS
noscript
    link(href='assets/css/main.css', rel='stylesheet')
// js
script(data-cfasync='true', src='assets/js/dist/scripts.js')
script(src='assets/js/main.js')
// / Scripts
//if lt IE 10
  script.
    $('input, textarea').placeholder();