section.services
    .container
        .row
            .col
                i.ti-pencil
                h2 Design
                p Soluta consequat no has. Has ex deleniti consulatu, tamquam interpretaris sit ex vivendum ullamcorper et his.
            .col
                i.ti-plug
                h2 Coding
                p Soluta consequat no has. Has ex deleniti consulatu, tamquam.
            .col
                i.ti-mobile
                h2 Apps
                p Soluta consequat no has. Has ex deleniti consulatu, tamquam interpretaris sit ex vivendum ullamcorper et his.
        .row
            a(href="#").btn.btn-cta.mx-auto
                | Launch Project Now