section.stats
    .container
        .row
            .col
                i.ti-stats-up
                span.counter(data-counterup-time='1500', data-counterup-delay='30', data-counterup-beginat='100') 2,349,890
                h3 Page Views
            .col
                i.ti-light-bulb
                span.counter(data-counterup-time='1500', data-counterup-delay='30', data-counterup-beginat='100') 152
                h3 Campagins Managed
            .col
                i.ti-briefcase
                span.counter(data-counterup-time='1500', data-counterup-delay='30', data-counterup-beginat='100') 2560
                h3 Leads Generated
            .col
                i.ti-heart
                span.counter(data-counterup-time='1500', data-counterup-delay='30', data-counterup-beginat='100') 162
                h3 Happy Customers