.contact-us
    background: $white
    padding: 120px 0 0
    .title
        color: $primaryLight
        font-size: 3rem
        text-transform: uppercase
        margin-bottom: 50px
    p.col-10
        font-size: 1.25rem
        margin: 0
        padding: 0
        color: $primaryDark
    form.contact-form
        margin: 120px auto
        input, textarea
            width: calc(100% - 32px) 
            margin: 9px
            background-image: none
            border: 2px solid $primaryDark
            font-size: 20px
            padding: 16px
            color: $primaryDark
            &::placeholder
                color: $primaryDark
        .btn.btn-cta
            border: 2px solid $primaryLight
            padding: 25px 160px
            border-radius: 30px
            text-transform: uppercase
            font-family: 'Lato', sans-serif
            margin-top: 40px
    .contact-info
        background: $primaryLight
        padding: 120px 0
        .col
            display: flex
            align-items: center
            .icon
                margin: 28px
                display: inline
                span
                    font-size: 26px
                    padding: 25px
                    background-color: $primaryDark
                    color: $white
            a
                color: $primaryDark
